{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
{% for ticket in tickets %}
    <div class="card col-3 m-2">


    <div class="card-body">
        <h4 class="card-title"> {{ ticket.titre }} </h4>
        <p class="card-text"> Person name : {{ ticket.nompersonne }}
            <br>Description : {{ ticket.description }}
            <br>Statut : {{ ticket.statut }}
            <br>Date : {{ ticket.date }}
        </p>
        <a href="{{path('ticket.delete',{id : ticket.id})}}" class="btn btn-primary">Delete</a>
    </div>
</div>
{% endfor %}
    </div>

    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    {% for i in 1..nbpage %}
    <li class="page-item"><a class="page-link" href="{{ path('ticket.list',{nbpage:i}) }}">{{ i }}</a></li>
      {% endfor %}

    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
 {% endblock %}